.searchMovie {
  background-image: url("../images/banner.jpg");
  height: 500px;
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    text-align: center;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0;
    min-height: 50vh;
    background-color: rgba($color: #000000, $alpha: 0.85);
    z-index: 0;
  }
  &__contenedor {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 500px;
    min-height: 50vh;
    &--texto {
      p {        
        font-weight: 300;
        color: $color-gray;
      }
    }
    &--brand {
      position: absolute;
      bottom: 2rem;
      right: 0;
      font-size: 2.5rem;
      color: $color-white;
    }
  }
}